.favori-sidebar{
    width: 20%;
    margin: 40px 10px 0px 0px;
    display: flex;
    flex-direction: column;
    border:3px solid rgb(255, 166, 0);
    border-radius: 10px;
    align-items: center;
}
.favori-sidebar img{
    width: 70%;
    margin-bottom: 20px;
}
.favori-sidebar h3{
    margin-top: 50px;
}
.favori-sidebar-infos{
    list-style: none;
    color:black;
    margin-top: 10px;
}
.favori-sidebar-buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 40px;
}
.favori-sidebar-button{
    margin: 13px;
}

@media screen and (max-width:1000px){
    .favori-sidebar{
        margin: 0px;
        font-size: 22px;
        padding: 0px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .favori-sidebar-buttons{
        justify-content: space-evenly;
        margin-bottom: 10px;

    }
}