.home{
    display: flex;
    justify-content: space-between;
}



@media screen and (max-width:1000px){
    .home{
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
    }
}