.sidebar-container{
    display: flex;
    width: 28%;
    margin: 50px;
    border-radius: 5px;
    height: 55vh;
    border:1px solid purple;

}
.kategoriler{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin:5vh 0px 0px 5vh
}
.items{
    color:black;
    padding: 0px;
}
.items li{
    list-style: none;
    width: 90%;
    padding: 15px;
    border-radius: 10px;
    color:black;
    margin: 5px;
}
.items li:hover{
    background-color: rgb(255, 195, 31);
    transition: 0.4s;
    color:white;
    cursor: pointer;
    font-weight: bolder;
}
h4{
    width: 70%;
    cursor: pointer;
    border-bottom: 1px solid grey;
}

@media screen and (max-width:1000px){
    .sidebar-container{
        width: 100%;
        margin: 0px;
        padding: 0px;
        height:min-content;
    }
    .kategoriler{
        margin: 0px;
        padding: 0px;
    }
    .items{
        margin: 10px 0px 10px 10px;
        padding: 0px;
    }
    .items li{
        margin: 0px;
        padding: 10px;
        width: 50%;
    }
    h4{
        margin: 10px;
        padding: 10px;
        width: 60%;
    }
}