.single-container{
    width: 45%;
    border-radius: 10px;
    margin: 40px 20px 20px 20px;
    display: flex;
    border-bottom: 2px solid rgb(92, 92, 92);
    border-right: 2px solid rgb(92, 92, 92);
    border-top: 1px solid grey;
    border-left: 1px solid grey;
}
img{
    margin-left: 5px;
    width: 40%;
}
.single-items{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.single-items ul{
    width: 100%;
    display: flex;
    margin-top: 100px;
    flex-direction: column;
}
.single-items li{
    list-style: none;
    color:black;
}
.buttons{
    margin:0px 0px 70px 20px;
    display: flex;
}
.single-button{
    margin-left: 15px;
}


@media screen and (max-width:1000px){
    .single-container{
        margin:0px;
        padding: 0px;
        width: 100%;
        display: flex;
        align-items: center;
    }
    .single-container img{
        margin: 10px 0px 0px 0px;
        padding: 0px;
    }
    .single-button{
        margin-left: 15px;
        padding: 5px;
    }
    .single-items{
        margin: 0px;
        
        padding: 0px;
        display: flex;
        justify-content:flex-start;

    }
    .single-items ul{
        width: max-content;
        margin:10px 0px 10px 20px;
        padding: 0px;
    }
  
    .buttons{
        display: flex;
        margin-bottom: 20px;
        padding: 0px;
        margin: 0px;
    }
}